<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Whitespace Studio</title>
    <meta name="description" content="My ASP.NET Application" />
    @Styles.Render("~/bundles/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="./"><img src="~/Content/images/whitespace-logo-mountain.png" class="logo-sm"/></a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Bootcamp", "Contact", "Home")</li>
                    <li>@Html.ActionLink("Team", "Contact", "Home")</li>
                    <li>@Html.ActionLink("Space", "Contact", "Home")</li>
                    <li>@Html.ActionLink("FAQ", "Contact", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    <li>@Html.ActionLink("Apply", "Contact", "Home")</li>
                </ul>
            </div>
        </div>
    </div>
    <div>
        @RenderBody()
        <footer>
            <div class="container background-imgbuffalo section relative">
                <div class="h-100">
                    <div class="row">
                        <div class="col-md-12 relative">
                            <div class="final-thought">
                                some ninjas hide in the shadows <br>
                                ours dwell in the whitespace
                            </div>
                        </div>
                    </div>
                    <div class="row background-black bottom-center-text w-100">
                        <div class="col-md-12">
                            <p class="text-center">
                                Phone: 716.242.9731 | Email: info@whitespace.ninja
                            </p>
                            <div class="relative w-100">
                                <ul>
                                    <li><a href="https://www.facebook.com/whitespaceninja" target="_blank"><img src="~/Content/images/facebook_logo_blue.png" class="icon-sm center-block" /></a></li>
                                    <li><a href="https://twitter.com/whitespaceninja" target="_blank"><img src="~/Content/images/twitter_logo_blue.png" class="icon-sm center-block" /></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                            
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
